<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <style>
        body {
            background: black;
            color: #00FF00;
            font-family: monospace;
        }
        a { color: #00FF00; }
    </style>
</head>
<body>

<h1>System State</h1>

<a href="/log">Перейти в лог →</a>

<div>HULL_TEMP: <span id="HULL_TEMP">-</span></div>
<div>CORE_TEMP: <span id="CORE_TEMP">-</span></div>
<div>FUEL_DEPLETION: <span id="FUEL_DEPLETION">-</span></div>

<script>
    const socket = io();

    socket.on("update", (data) => {
        if (data.HULL_TEMP !== undefined)
            document.getElementById("HULL_TEMP").innerText = data.HULL_TEMP;

        if (data.CORE_TEMP !== undefined)
            document.getElementById("CORE_TEMP").innerText = data.CORE_TEMP;

        if (data.FUEL_DEPLETION !== undefined)
            document.getElementById("FUEL_DEPLETION").innerText = data.FUEL_DEPLETION;
    });
</script>

</body>
</html>